---
layout: body
---

<!--content-->
<div class="list-group navbar-left content-left navbar-static-top">
  	<ul class="list-group ">
	  <a href="content.html"><li class="list-group-item"><span class="badge">14</span>项目</li></a>
	  <a href="content.html"><li class="list-group-item"><span class="badge">14</span>随笔</li></a>
	  <a href="note.html"><li class="list-group-item"><span class="badge">14</span>笔记</li></a>
	  <a href="content.html"><li class="list-group-item"><span class="badge">14</span>交流</li></a>
	</ul>
	<div class="list-group">
	  <div class="list-group-item">
	    <div class="thumbnail">
	      <img src="img/2.jpg" alt="...">
	      <div class="caption">
	        <h3>今日推荐</h3>
	        <p>我之前没有爱过别人，你是第一个，我怕我做的不好，让你觉得爱情不过如此。</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<div class="content-right">
	<div class="panel panel-default">
  		<div class="panel-heading">随笔</div>
	  	<div class="panel-body content-right-body">
	  			<p>{{content}}
				</p>
			</div>
	  	<div class="panel-footer content-right-footer">[2017-9-21]</div>
	</div>
</div>
<!--content-->